*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1da1f2;
    text-align: center;
    overflow: hidden;
    position: relative;
}

div.dataDisplay{
    width: 250px;
    height: 100px;
    background-color: #14171a;
    position: absolute;
    top: 20px;
    left: 20px;
    color: aliceblue;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    border-radius: 5px;
}

canvas#myCanvas{
    background-color: #657786;
}